<div class="single-post">

  <div class="post-header">
    <h1>Post #<%= @post.id %> by <%= link_to @post.author.name, user_path(@post.author) %></h1>
    <div class="post-stats">
      <span>Comments: <%= @post.comments.count %></span>
      <span>Likes: <%= @post.likes.count %></span>
      <div class="like-button">
      <%= form_with(url: user_post_likes_path(@author, @post), method: :post, local: true) do |form| %>
        <%= form.hidden_field :author_id, value: current_user.id %>
        <%= form.submit "Like" %>
      <% end %>
      </div>
    </div>
  </div>

  <div class="post-content">
    <p><%= @post.text %></p>
  </div>

  <div class="comments-list">
    <% @post.comments.each do |comment| %>
      <div class="comment">
        <strong><%= comment.author.name %>:</strong> <%= comment.text %>
      </div>
    <% end %>
  </div>

  <!-- New comment -->

  <h2 class="form-title">Add Comment:</h2>

  <%= form_with(url: user_post_comments_path(@author, @post), method: :post, local: true) do |form| %>
    <%= form.hidden_field :author_id, value: current_user.id %>

    <div>
      <%= form.label :text, "Comment" %>
      <%= form.text_area :text %>
    </div>

    <div>
      <%= form.submit "Add Comment" %>
    </div>
  <% end %>

  <!-- New post -->

<h2 class="form-title">Create a New Post</h2>

<%= form_with(model: [current_user, current_user.posts.build], local: true) do |form| %>
  <div>
    <%= form.label :title, "Title" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :text, "Text" %>
    <%= form.text_area :text %>
  </div>

  <div>
    <%= form.submit "Create Post" %>
  </div>
<% end %>

</div>
