<div class="single-post">

  <div class="post-header">
    <h1>Post #<%= @post.id %> by <%= link_to @post.author.name, user_path(@post.author) %></h1>
    <div class="post-stats">
      <span>Comments: <%= @post.comments.count %></span>
      <span>Likes: <%= @post.likes.count %></span>
    </div>
  </div>

  <div class="post-content">
    <p><%= @post.text %></p>
  </div>

  <div class="comments-list">
    <% @post.comments.each do |comment| %>
      <div class="comment">
        <strong><%= comment.author.name %>:</strong> <%= comment.text %>
      </div>
    <% end %>
  </div>

</div>
